<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyChnF81CiVMg4SpeS2DHeM982A3J_r1fSI</string>
	<key>GCM_SENDER_ID</key>
	<string>384760380274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MobileShopClone.app</string>
	<key>PROJECT_ID</key>
	<string>onlinestoreclone</string>
	<key>STORAGE_BUCKET</key>
	<string>onlinestoreclone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384760380274:ios:4345a3c08f2ca4744abbeb</string>
</dict>
</plist>